.credits {
  max-width: 80%;
  overflow: scroll;

  &.onboarding-graphic {
    margin-top: 5em;
  }
  .table-header {
    font-size: 2em;

    &.crew {
      font-size: 1.5em;
    }
  }

  .copyright {
    margin-top: 2em;

    a {
      display: block;
    }
  }
}
