.credits {
  max-width: 80%;
  overflow: scroll;

  &.onboarding-graphic {
    margin-top: 5em;
  }
}

.table-header {
  font-size: 2em;
  margin-top: 20px;
}

.copyright {
  a {
    display: block;
    margin: 40px 0;
  }

  img {
    width: 100%;
    max-width: 160px;
  }
}
