.ob-cloud {
  @extend %active-animations;
  -webkit-animation: cloud-bounce 1.8s ease-in-out 0s infinite alternate;
  margin-bottom: 80px;
}

.ob-heart-shadow {
  @extend %active-animations;
  -webkit-animation: heart-shadow 1.8s ease-in-out 0s infinite alternate;
  -webkit-transform: scale(0.7);
}

.ob-logo {
  margin-top: 50px;
  width: 230px;
}

@-webkit-keyframes cloud-bounce {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(25px);
  }
}

@-webkit-keyframes heart-shadow {
  0% {
    -webkit-transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
