.logo-map {
  max-width: 375px;
  position: relative;
  height: 50%;

  .ob-phone {
    height: 130%;
  }

  .ob-map {
    position: absolute;
    height: 85%;
    left: 32%;
    top: 22%;
  }

  rect {
    @extend %active-animations;
    animation: background-pulse 1.8s ease-in-out 0s infinite alternate none paused;
  }
}

.onboarding-scene.active {
  #svg-earth-hall {
    @extend %marker-active;
  }
}
