.playback {
  position: relative;

  .ob-numbers:not(:first-of-type) {
    display: none;
  }
}

.playback {
  .switcher {
    margin: auto;

    .inner-switcher {
      @extend %active-animations;
      animation: touch 6s ease-in-out 0s infinite alternate none paused;
    }
  }
}

@keyframes touch {
  0% {
    transform: translate3d(0,0,0);
  }

  @for $i from 1 through 4 {
    #{$i * 25}% {
      transform: translate3d(0, negate(($i * $switcher-height)), 0);
    }
  }
}