.completion-view {
  background-color: $c-red;

  .header {
    background: none;
    text-align: right;
    z-index: 9;
    justify-content: flex-end;
    border-bottom: 0;

    img {
      display: block;
    }
  }

  h2 {
    color: $c-light-grey;
    margin-top: .5em;
  }

  .caption {
    margin-top: 3em;
    text-align: center;

    .main-text {
      color: $c-light-grey;
    }
  }
}

.completion-graphic {
  text-align: center;
  max-height: 297px;

  svg {
    max-height: 100%;
    width: auto;
  }
}

.completion-social {
  display: flex;
  max-width: 350px;
  margin: 30px auto 0;

  a {
    display: block;
    max-width: 50%;
    flex-grow: 1;
    padding: 0 45px;
  }

  svg {
    fill: $c-white;
    max-width: 100%;
    height: auto;
  }
}
