// IDs because SVG identifiers and to maintain the export data from Sketch in case we export again
#svg-turbine-hall,
#svg-physics-lab,
#svg-planetarium,
#svg-earth-hall,
#svg-lunch-room {
  #marker {
    display: none;

    #marker-base {
      transform: scale(0);
    }
  }

  &.active {
    @extend %marker-active;
  }
}

@keyframes marker-base-grow {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  15% {
    transform: scale(0);
    opacity: 1;
  }

  70% {
    opacity: 0.5
  }

  100% {
    transform: scale(16);
    opacity: 0
  }
}

@keyframes marker-color {
  0% {
    fill: $c-dark-blue;
  }

  10% {
    fill: $c-dark-blue;
  }

  50% {
    fill: $c-red;
  }

  70% {
    fill: $c-red;
  }

  100% {
    fill: $c-dark-blue;
  }
}
