#svg-turbine-hall,
#svg-physics-lab,
#svg-planetarium,
#svg-earth-hall,
#svg-lunch-room {
  animation: background-pulse 1.8s ease-in-out 0s infinite alternate;

  &.active {
    animation: background-pulse 1.8s ease-in-out 0s infinite alternate;
  }
}

@keyframes background-pulse {
  0% {
    fill: $c-lighter-grey;
  }

  100% {
    fill: $c-red;
  }
}
