.onboarding-view {
  background: $c-red;
  padding: 0;
  text-align: center;
  overflow: scroll;
  color: $c-white;

  .header {
    border-bottom: 0;
    position: fixed;
    top: 0;
    background: none;
    left: 0;
    width: 100%;
  }
}

.scenes {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

.onboarding-scene {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 100vw;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.onboarding-graphic,
.caption {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.onboarding-graphic {
  margin-bottom: 120px;
}

.logo-map {
  max-width: 375px;
  position: relative;
  height: 50%;

  .ob-cloud-map {
    margin-bottom: 80px;
  }
  .cloud-group-1 {
    position: absolute;
    transform: scale(.6);
    right: 5%;
    top: 60%;
    hr {
      transform: scale(0);
    }
  }
  .cloud-group-2 {
    position: absolute;
    transform: scale(.3);
    left: 5%;
    top: 20%;
    hr {
      transform: scale(0);
    }
  }
  .cloud-group-3 {
    position: absolute;
    transform: scale(.1);
    right: 16%;
    top: 0%;
    hr {
      transform: scale(0);
    }
  }

  .ob-map {
    position: absolute;
    left: 18%;
    top: 45%;
  }
  .map-markers {
    position: relative;
    height: 350px;
    .ob-map-marker {
      position: absolute;
      &:nth-child(1) {
        transform: scale(1.1);
        top: 46%;
        left: 24%;
        animation: enlarge 2s ease-in-out 2s;
      }
      &:nth-child(2) {
        transform: scale(.9);
        top: 54%;
        left: 40%;
        animation: enlarge 2s ease-in-out 4s;
      }
      &:nth-child(3) {
        top: 41%;
        left: 57%;
        animation: enlarge 2s ease-in-out 6s;
      }
      &:nth-child(4) {
        transform: scale(.87);
        top: 48%;
        left: 77%;
        animation: enlarge 2s ease-in-out 8s;
      }
    }
  }
  .ob-headphones {
    position: absolute;
    top: 40%;
  }
} //end logo map

.playback {
  position: relative;
  .touch-circle {
    position: absolute;
    background-color: $c-dark-blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: .5;
  }
  .ob-numbers:not(:first-of-type) {
    display: none;
  }
}
.pagination {
  margin: 0;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;

  li {
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;

    &:before {
      content: '';
      background: transparent;
      border: 1px solid $c-white;
      border-radius: 50px;
      height: 12px;
      width: 12px;
      display: block;
      transition: background 0.2s;
    }

    &.active {
      &:before {
        background: $c-white;
      }
    }
  }
}

.main-text {
  font-size: 1.3em;
  line-height: 1.3;
}

.sub-text {
  margin-top: 8px;
}

