$view-transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$view-transition: opacity .5s $view-transition-timing-function;

.view {
  @include stack($view-stack);
  height: 100%;
  overflow: hidden;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: $view-transition;

  &.-insert {
    height: calc(100% - #{$toolbar-height * 2});
  }

  &.-full,
  &.-overlay {
    @include stack($view-stack, '.view.-overlay');
  }

  &.-full {
    bottom: auto;
    top: 0;
    height: calc(100% - #{$toolbar-height});
    position: absolute;
  }

  &.-overlay {
    position: absolute;
    bottom: 0;
    transition: visibility 0s ease-in 1s, opacity .7s $view-transition-timing-function;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transition: $view-transition;
  }
}

.inner-view {
  overflow: scroll;
  height: calc(100% - #{$toolbar-height});
  background: $c-gray;
}

.view-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px $container-padding;
  border-bottom: 1px solid $c-dark-grey;
  cursor: pointer;
}
