%bg-pattern {
  width: 100%;
  background: $c-red;
}

%marker-active {
  #marker {
    display: initial;

    #marker-base {
      animation: marker-base-grow 2.8s ease-in-out 0s infinite;
      transform: scale(0);
      transform-origin: 50% 50%;
    }
  }

  #Oval-209-Copy {
    animation: marker-color 2.8s ease-in-out 0s infinite;
    fill: $c-dark-blue;
  }
}
