//////////////////////////////
// Project Specific Variables
//////////////////////////////

// Project Specific breakpoints
$breakpoints: ();

// Merge $fine_breakpoints and $breakpoints to use with bp() mixin
$breakpoints: map-merge($fine-breakpoints, $breakpoints);

//Default colors (doesn't really need to be changed)
$c-gray: #bfbfbf;
$c-dark_gray: #484848;

$c-red: #ff5d73;
$c-blue: #66a6f0;

$f-headline: $f-sans;
$f-content: $f-sans;

$toolbar-height: 75px;
$container-padding: 25px;

$view-stack: (
  '.navigation',
  '.view',
  '.player',
  '.view.-overlay'
);
