//////////////////////////////
// Project Specific Variables
//////////////////////////////

// Project Specific breakpoints
$breakpoints: ();

// Merge $fine_breakpoints and $breakpoints to use with bp() mixin
$breakpoints: map-merge($fine-breakpoints, $breakpoints);

//Default colors (doesn't really need to be changed)
$c-gray: rgb(236, 233, 228);
$c-dark_gray: rgb(187, 185,184);

$c-beige: #dCd2b6;

$c-orange: #ef9f25;
$c-blue: #558c93;
$c-light-blue: #1597b9;
$c-red: #e4632d;

// Messages
$c-imessage-gray: #E5E5EA;
$c-imessage-blue: #0B93F6;

// Credits
$c-credits-header: rgb(199, 187, 164);

$f-headline: $f-sans;
$f-content: $f-sans;

$toolbar-height: 75px;
$container-padding: 25px;

$view-stack: (
  '.navigation',
  '.view',
  '.player',
  '.view.-overlay'
);
