h1,
h2,
h3,
h4 {
  font-family: $f-headline;
  font-weight:normal;
  line-height: 1.1;
  margin: 0 0 40px;
  text-transform: uppercase;
  color: $c-black;
}

h1 {
  font-size: 4.2rem;
  line-height: 0.95;
  margin-top: 50px;
  margin-bottom: 70px;

  @include bp(medium-down) {
    font-size: 2.6rem;
    margin-bottom: 40px;
  }
}

h2 {
  font-size: 3.4rem;
  line-height: 1.2;
  text-align: center;
  margin: 70px 0 60px;

  @include bp(medium-down) {
    font-size: 2.3rem;
  }
}

h3 {
  font-family: $f-content;
  margin-bottom: 5px;
  font-size: 1.7rem;
  text-align: center;
  color: $c-dark-blue;

  @include bp(medium-down) {
    font-size: 1.4rem;
  }
}

h4 {
  text-transform: none;
  font-family: $f-content;
  font-size: 1.3rem;
  text-align: center;

  @include bp(medium-down) {
    font-size: 1.1rem;
  }
}
