nav.header.map-active#js-main-nav
  img.onboarding-button.button#js-onboarding-button src=image_path('header/help.svg')

  img src=image_path('logo.svg')

  img#js-transcript-button src=image_path('header/documents.svg')
