== partial 'shared/header'

== partial 'map'

== partial 'shared/player'
== partial 'onboarding'
== partial 'prompt'
== partial 'completion'
== partial 'rotate-device'

- (0..4).each do |i|
  == partial "transcripts/#{i}"
