== partial 'shared/header'

== partial 'map'

== partial 'shared/player'
== partial 'onboarding'
== partial 'prompt'
== partial 'completion'
== partial 'rotate-device'

- (1..5).each do |i|
  / == partial "transcripts/#{i}"
