== partial 'shared/header'

iframe src="/map" height="100%" width="100%" border="0"

== partial 'shared/player'
== partial 'onboarding'
== partial 'prompt'

- (1..4).each do |i|
  == partial "transcripts/#{i}"
