.header {
  @extend %bg-pattern;
  padding: 5px $container-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $toolbar-height;
  border-bottom: 1px solid $c-light-grey;
}
