$switcher-next-shadow: 0 8px 9px -9px $c-white;
$switcher-prev-shadow: 0 -8px 9px -9px $c-white;
$handle-dimension: 16px;

.player {
  @extend %bg-pattern;
  @include stack($player-stack);
  bottom: 0;
  height: $toolbar-height;
  border-top: 1px solid $c-light-grey;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;

  &:not(.-ready) {
    pointer-events: none;

    &:before {
      content: 'Loading';
      background: rgba($c-dark-grey, 0.9);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 9;
      color: $c-white;
    }
  }
}

.control-button {
  padding: 20px 20px 20px $container-padding;
}

.track,
.progress {
  padding: 18px 0;
  height: 1px;

  &:before {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 16px;
    border-radius: 4px;
  }
}

.track {
  @include stack($player-stack);
  width: 100%;
  margin: 0 auto;
  position: relative;

  &:before {
    background: $c-dark-grey;
  }
}

.progress {
  @include stack($player-stack);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  transition: width;
  will-change: width;
  cursor: pointer;

  &:before {
    background: $c-white;
  }
}

.handle {
  @include stack($player-stack);
  position: absolute;
  right: -9px;
  top: 1px;
  width: $handle-dimension;
  height: $handle-dimension;
  padding: 16px;

  &:after {
    content: '';
    display: block;
    background: $c-white;
    border-radius: 50px;
    height: $handle-dimension;
    width: $handle-dimension;
    position: absolute;
    top: $handle-dimension / 2;
    left: $handle-dimension / 2;
  }
}

.player {
  input {
    display: none;
  }
}

.switcher {
  width: 50px;
  text-align: center;
  height: 54px;
  overflow: hidden;
  transition: box-shadow 0.3s;

  &.-next {
    box-shadow: $switcher-next-shadow;

    &.-prev {
      box-shadow: $switcher-next-shadow, $switcher-prev-shadow;
    }
  }

  &.-prev {
   box-shadow: $switcher-prev-shadow;;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 3px 8px;
    height: 51px;
    width: auto;
    transition: opacity 0.4s ease;

    &.-disabled {
      opacity: 0.7;
    }
  }
}

.inner-switcher {
  transition: transform 0.2s;
}
