$switcher-after-shadow: 0 9px 9px -9px $c-white;
$switcher-before-shadow: 0 -9px 9px -9px $c-white;
$handle-dimension: 16px;

.player {
  @extend %bg-pattern;
  @include stack($player-stack);
  bottom: 0;
  height: $toolbar-height;
  border-top: 1px solid $c-light-grey;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  &:before {
    @include stack($player-stack, ':player-loading');
    content: 'LOADING';
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $c-white;
    display: flex;
    justify-content: center;
    background: transparent;
    transition: visibility 0s linear 0.4s, opacity 0.4s ease-in-out;
    background: rgba($c-red, 0.85);
    visibility: hidden;
    align-items: center;
    line-height: 1;
    opacity: 0;
    letter-spacing: 0.1em;
  }

  &:not(.-ready) {
    pointer-events: none;

    &:before {
      visibility: visible;
      transition: opacity 0.4s ease-in-out;
      opacity: 1;
    }
  }
}

.control-button {
  padding: 13px 20px;
}

.track,
.progress {
  padding: 18px 0;
  height: 1px;

  &:before {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 16px;
    border-radius: 4px;
  }
}

.track {
  @include stack($player-stack);
  width: 100%;
  margin: 0 auto;
  position: relative;

  &:before {
    background: $c-dark-grey;
  }
}

.progress {
  @include stack($player-stack);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  cursor: pointer;

  &:before {
    background: $c-white;
  }
}

.handle {
  @include stack($player-stack);
  position: absolute;
  right: -9px;
  top: 1px;
  width: $handle-dimension;
  height: $handle-dimension;
  padding: 16px;

  &:after {
    content: '';
    display: block;
    background: $c-white;
    border-radius: 50px;
    height: $handle-dimension;
    width: $handle-dimension;
    position: absolute;
    top: $handle-dimension / 2;
    left: $handle-dimension / 2;
  }
}

.player {
  input {
    display: none;
  }
}

.switcher {
  width: 50px;
  text-align: center;
  height: $switcher-height + 2px;
  overflow: hidden;
  transition: box-shadow 0.3s;

  &.-after {
    box-shadow: $switcher-after-shadow;

    &.-before {
      box-shadow: $switcher-after-shadow, $switcher-before-shadow;
    }
  }

  &.-before {
   box-shadow: $switcher-before-shadow;;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 3px 15px;
    height: $switcher-height;
    width: auto;
    transition: opacity 0.4s ease;

    &.-disabled {
      opacity: 0.7;
    }
  }
}

.inner-switcher {
  will-change: transform;
  transition: transform 0.2s;
}

@keyframes letter-spread {
  0% {
    letter-spacing: 0.1;
  }

  100% {
    letter-spacing: 1.3em;
  }
}

.notify {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    transform: scale(0);
    transform-origin: 50% 50%;
    bottom: 0;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $c-light-grey;
    animation: player-notify 2.8s ease-in-out 0s infinite;
  }
}

@keyframes player-notify {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  15% {
    transform: scale(0);
    opacity: 1;
  }

  70% {
    opacity: 0.5
  }

  100% {
    transform: scale(2);
    opacity: 0
  }
}

